In [1]:
import numpy as np
import pandas as pd
from scipy.optimize import fsolve
import sklearn
import pickle
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'scipy'

In [3]:
#Load Data
import pandas as pd

dataset = pd.read_csv('../archive/uvs_report.csv', sep=',', error_bad_lines=False, low_memory=False)
print("Shape of dataset", dataset.shape)

Shape of dataset (51021, 14)

In [4]:
dataset.head()

,vehicle_grp,class,age_acpt,proceeds,age_sale,age_sale_grp,cond_code,days_on_lot,Ask,Take,Proceed_Over_Ask,Proceed_Over_Take,LOCATION_CODE__c,y
0,TRUCK,60,76,7700,91,091 - 096,10,465,30059,27059,0.256163,0.284563,2785,1
1,TRAILER,200,125,13500,125,121 - 126,50,0,13537,12537,0.997267,1.076813,3280,0
2,TRUCK,50,70,18905,73,073 - 078,10,92,28147,25147,0.671652,0.751780,2756,0
3,TRUCK,10,92,1000,92,091 - 096,30,7,10961,8961,0.091233,0.111595,2686,0
4,TRACTOR,140,87,24495,95,091 - 096,10,244,36551,33551,0.670160,0.730083,3403,0

In [5]:
import seaborn as sn

pt= sns.countplot(x='y', data=dataset, palette='hls')
plt.show()
plt.savefig('count_plot')

NameError: name 'sns' is not defined